// @font-face {
//   font-family: "Times New Roman";
//   src: url('@/assets/fonts/Plain-Medium.ttf');
//   font-display: swap;
//   font-weight: 500;
// }

h1, .h1 {
  font-size: 50px;
}

h3, .h3 {
  font-size: 25px;
  font-family: "calling-code", sans-serif;
  font-weight: 700;
  line-height: 1.25em;
  text-transform: uppercase;
}