*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 18px;
	line-height: 1.3;
	font-family: 'Inter';
	width: 100%;
	letter-spacing: -0.02em;
	background: rgb(240, 240, 238);
	scroll-behavior: smooth;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
	&.no-scroll {
		//position: fixed;
  	width: 100%;
		overflow: hidden;
		height: 100vh;
		.logo {
			@media (max-width: 768px) {
				display: none;
			}
		}
	}
}

div {
	position: relative;
	display: block;
}

a {
	text-decoration: none;
	color: inherit;
	display: inline-flex;
	cursor: pointer;
}

img {
	max-width: 100%;
	vertical-align: top;
	height: auto;
}

button {
	appearance: none;
	outline: none;
	border: none;
	background-color: transparent;
	cursor: pointer;
}